@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body{
    margin: 0;
    padding: 0;
    background:black;
    font-family: 'Indie Flower', cursive;
}

.container{
    width:1200px;
    margin:20px auto;
    columns:4;
    column-gap: 40px;
    transition: 1s;
}

.container .box{

    width: 100%;
    margin:0 0 20px;
    padding: 10px;
    background:#fff;
    overflow:hidden;
    break-inside: avoid;
}

.container .box:hover{
    box-shadow: 0px -5px 15px rgba(255,255,255,0.5);
}

.container .box img{

    max-width:100%;
}

.container .box h2{
    margin:10px 0 0;
    padding: 0;
    font-size: 20px;
}

.container .box p{
    margin:0;
    padding: 0 0 20px;
    font-size: 16px;
}

@media (max-width:1200px){

    .container{
        columns: 3;
        width:calc(100% - 40px);
        box-sizing: border-box;
        padding: 20px 20px 20px 0;
        transition: 1s;
    }
}

@media (max-width:768px){

    .container{
        columns: 2;
        transition: 1s;
    }
}

@media (max-width:480px){

    .container{
        columns: 1;
        transition: 1s;
    }
}